*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Basic', sans-serif;
}

.contact .left-content h4{
  font-size: 1.850em;
  font-weight: 400;
  line-height: 38px;
  color:  #020E35; 
  letter-spacing: 0px;
}
.contact .left-content span{
color : #E73587;
}
.contact .left-content h1{
  letter-spacing: 0px;
  font-size: 5.325em;
  font-weight: 400;
  line-height: 110px;
  color:  #020E35;
}

.right-content{
  padding-left: 15px;
}
.right-content input{
  border-radius: 2px;
}
.right-content input:focus{
  outline: none ;
}

.right-content label{
 margin: 5px;
font-size: 16px;
font-weight: 400;
line-height: 22px;
color: #2C3241;
}
.right-content textarea{
  border-radius: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #2C3241;
  height: 168px;
}
:root {
  --color-gradient: linear-gradient(90deg, rgba(231, 53, 135, 1) 0%, rgba(140, 50, 240, 1) 100%);
}
.right-content button{
  background: var(--color-gradient);
  color: white ;
  border-radius: 2px;
 }
 
footer{
background-color: #020E35;
color: #ffffff;
}

 @media (max-width: 700px) {
  .contact .container .row{
    margin: 0 auto;
  }
  footer .container{
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .contact .left-content h4{
    font-size: 1.550em;
  }
  .contact .left-content h1{
    font-size: 5.025em;
    line-height: 80px;
  }
}